# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/msr-01-jenilyn-padrigon.jpg
!app/crud/uploads/msr-02-ivy-bayla.jpg
!app/crud/uploads/msr-03-sherry-ann-nuqui.jpg
!app/crud/uploads/msr-04-laila-vargas.jpg
!app/crud/uploads/msr-05-myjonica-jean-rabino.jpg
!app/crud/uploads/msr-06-princess-saludo.jpg
!app/crud/uploads/msr-07-jessica-corporal.jpg
!app/crud/uploads/mbm-01-owen-kelly-magistrado.jpg
!app/crud/uploads/mbm-02-jayzar-taduran.jpg
!app/crud/uploads/mbm-03-arjay-bagayawa.jpg
!app/crud/uploads/mbm-04-earlson-alanis.jpg
!app/crud/uploads/mbm-05-eric-magistrado.jpg
!app/crud/uploads/mbm-06-cedric-hubert-laniog.jpg
!app/crud/uploads/mbm-07-nathaniel-salonga.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
