RewriteEngine On
RewriteBase /msr-mbm/

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2|ico|ttf)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /msr-mbm/public/index.html [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/msr-mbm/public/
RewriteCond %{REQUEST_URI} !^/msr-mbm/app/
RewriteRule ^(.*)$ /msr-mbm/public/$1 [L]
